<title>About</title>
<%- include("header.ejs")-%>
<div class="box" id="heading">
<h1>
    This Is about Page
</h1>
</div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id error neque tenetur laborum, totam illo aspernatur quos aut. Reprehenderit odio perferendis incidunt enim ad quis aspernatur corporis provident laboriosam debitis?
</p>
<div class="about">
    <button class="but"><a href="http:/">Home</a></button>
</div>
